@model IEnumerable<maskup.domain.AirCondiction>

@{
    ViewBag.Title = "- 歷史空氣品質";
}
<div class="mdl-typography--text-center">
    <h2>歷史空氣品質</h2>
</div>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col ">

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">地點</th>
                        <th>時間</th>
                        <th>PM2.5</th>
                        <th>PM10</th>
                        <th>O3</th>
                        <th>SO2</th>
                        <th>CO</th>
                        <th>NO2</th>
                        <th>FPMI</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">
                                @Html.DisplayFor(modelItem => item.locationCht)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pm25)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pm10)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.o3)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.so2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.co)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.no2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fpmi)
                            </td>
                        </tr>
            }
                </tbody>


            </table>

    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>