<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Content/material.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">MASKUP</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    @Html.ActionLink("首頁", "Index", "Home", "", new { @class = "mdl-navigation__link" })
                    @Html.ActionLink("全台空氣品質", "Index", "AirCondictions", "", new { @class = "mdl-navigation__link" })
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">MASKUP</span>
            <nav class="mdl-navigation">
                @Html.ActionLink("首頁", "Index", "Home", "", new { @class = "mdl-navigation__link" })
                @Html.ActionLink("全台空氣品質", "Index", "AirCondictions", "", new { @class = "mdl-navigation__link" })

            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content center-content">
                <!-- Your content goes here -->
                @RenderBody()
            </div>            
        </main>
        <footer class="mdl-mini-footer maskup-footer">
            <div class="mdl-mini-footer--left-section">
                <div class="mdl-logo">MASKUP</div>
                <ul class="mdl-mini-footer--link-list">                    
                    <li><span>&copy; @DateTime.Now.Year</span></li>
                </ul>
            </div>
        </footer>
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>